@import url("https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=DM+Sans:ital,opsz,wght@1,9..40,200&family=Fasthand&family=Mulish:wght@200&family=Nunito+Sans:opsz,wght@6..12,300&family=Poppins:wght@200;400&family=Roboto:ital,wght@0,400;1,100&family=Source+Code+Pro:ital,wght@0,400;1,200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=DM+Sans:ital,opsz,wght@1,9..40,200&family=Fasthand&family=Mulish:wght@200;400&family=Nunito+Sans:opsz,wght@6..12,300&family=Poppins:wght@200;400&family=Roboto:ital,wght@0,400;1,100&family=Source+Code+Pro:ital,wght@0,400;1,200&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f8fafc;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  background: #fff;
  box-shadow: 0px 6px 8px 0px rgba(0, 0, 0, 0.05);
  width: 444px;
  height: 537px;
  flex-shrink: 0;
}
form {
  margin-top: 20px;
}
h3 {
  margin-top: 0px;
  display: flex;
  width: 340px;
  height: 37px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #333;
  font-family: Mulish;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  align-items: start;
}
p {
  color: #757575;
  font-family: Mulish;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  width: 116px;
  height: 22.322px;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  flex-shrink: 0;
}
span {
  color: #333;
  font-family: Mulish;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
label {
  color: #333;
  font-family: Mulish;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 10px;
  width: 352px;
}
input {
  border-radius: 6px;
  border: 1px solid #dedede;
  margin-top: 10px;
  display: flex;
  width: 352px;
  height: 36px;
  padding: 0px 12px;
  align-items: flex-start;
  gap: 12px;
  flex-shrink: 0;
}
button {
  color: #fff;
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: 18px;
  text-transform: uppercase;
  display: flex;
  width: 352px;
  height: 55.804px;
  padding: 9px 14px;
  margin-top: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border: none;
  border-radius: 6px;
  background: linear-gradient(180deg, #625bf7 0%, #463eea 100%);
  cursor: pointer;
}
#loginStatus {
  display: flex;
  width: 340px;
  height: 37px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  color: #625bf7;
  text-align: center;
  font-family: Mulish;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.sign-up {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.sign {
  color: #333 !important;
  text-align: center !important;
  font-family: Mulish !important;
  font-size: 12px !important;
  font-style: normal !important;
  font-weight: 400 !important;
  line-height: normal !important;
}
.up {
  font-family: Mulish;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.up:hover{
    color: #625bf7;
    cursor: pointer;
}
